[Unit]
Description=Renew wep_pril IP certificate

[Service]
Type=oneshot
ExecStart=/opt/wep_pril/deploy/certbot-venv/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"
